<div class="sidebar">
  <div class="name"><b>Hai Lu Lin</b></div>
  <div class="email"><b>hlin1@ccny.cuny.edu</b></div>

  <ul class="nav nav-pills nav-stacked">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
    <li><a href="{{ '/projects.html' | relative_url }}">Research</a></li>
  </ul>

  <div class="social">
    <a href="https://www.linkedin.com/in/hai-lu-lin-690948151" target="_blank">LinkedIn</a>
    <a href="https://github.com/hlin004" target="_blank">GitHub</a>
  </div>
</div>
